.content {
  background-color: lightblue;
  padding: 10px;
  -webkit-flex: 5;
  flex: 3.5;
  order:1;
  width:70%;
  	border-radius: 0px 15px 0px 15px;

}

h2{
	width:60%;
}
.content ul li{
	list-style-type:none;
		display:inline-block;
}
.content ul li:nth-child(1){
}
.content ul li:nth-child(1){
	display:block;
	width:100%;
	border-bottom: .08em solid rgba(0,0,0,.1);
	font-size:1.4em;
	padding-bottom:14px;
		margin-bottom:12px;
			color:grey;

}
.content ul li a:nth-child(1){
	color: #41b7d8;
}
.content ul li:nth-child(2){
	color:grey;
	margin-right:65px;
}

.content ul li:nth-child(4){
	display:block;
	margin-top:9px;
	font-weight:400;
	font-size:1.3em;
}
.content p{
	color:black;
	font-size:1.125em;
}
.content img{
	margin-top:12px;
	margin-bottom:15px;
	    max-width: 100%;

}
.content button{
	background:#41b7d8;
	color:white;
	border-radius:9px;
	padding:9px;
	border:.08em solid rgba(0,0,0,.1);
	cursor:pointer;
}
.content button:hover{
	border-color:#007394;
}
.content section{
	padding:.5em 5.5% 4em;
	border-bottom: .3125em solid #41b7d8;
}

		.content section:nth-last-child(1){
			border-bottom:none;
		}

	@media screen and (max-width:800px){

		.content{
  	border-radius: 0px 0px 0px 0px;
		}
}